.cardStyle {
  //float: left;
  //margin-right: 15px;
  height: 50px;
  width: 128px;

  display: flex;

  flex-direction: row;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li,
.nowrap li {
  background: white;
  border: 2px solid silver;
  border-radius: 10px;
}

.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  padding: 5px;
  width: 250px;
  height: auto;
  max-height: 350px;
  margin: 10px;

  line-height: 100px;
  font-weight: bold;
  text-align: center;

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 95px;
  width: auto;
  height: auto;
}

.flex-col-container {
  padding: 20px 10px 20px 10px;

  text-align: left;
  line-height: 30px;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.company-logo {
  height: 100px;
}

.job-designation {
  padding-top: 5px;
  font: bold 16px Arial, sans-serif;
  color: black;
}

.company-name {
  font: 12px/30px Verdana;
  color: gray;
}

.job-description {
  margin-top: 20px;
  .job-header {
    width: 100%;
    margin: 0;
  }
}
.company-location {
  font-weight: initial;
}

.searchbtn {
  background-color: royalblue;
  color: white;
  padding: 2px;
  margin: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.9;
}
.job-search {
  justify-content: center;
  padding: 10px;
}

.carousel {
  width: 100%;
  .carousel-content {
    display: flex;
    .slider {
      width: 100%;
      cursor: grab;
    }
    .transparent-button {
      width: 40px;
      background-color: #daf1ec11;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      outline: none;
      z-index: 2;

      &-next {
        &:hover {
          transform: translateX(-10%) scaleX(1.2);
        }
      }
      &-back {
        &:hover {
          transform: translateX(10%) scaleX(1.2);
        }
      }
      &-play {
        position: absolute;
        align-self: center;
        justify-self: center;
        width: 100%;
        bottom: 0px;
      }
    }
  }
}
