body{
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: 'Arial';
}

h1{

  color: black;
  padding: 20px;
  margin: 20px 0 0 450px;
}

form{

  background-color: white;
}
.container{
  overflow: hidden;
  margin: auto;
  margin: 20px 0 0 450px;
  padding: 100px;
  background: white;
  border-radius: 15px ;
  text-align: center;
}
.wbdv-login{
  width: 360px;
  background-color: blue;
  color: white;
  margin-right: 0px;
  padding-left: 100px;
  text-align: center;
  position: relative;
  margin-left: 75px;

}

#username{
  width: 350px;
  text-align: center;
}

#password{
  width: 350px;
  text-align: center;
}

a{
  font-size: 6px;

}

.wbdv-forgot-password{
  position: relative;
  margin-left: -100px;

}

.wbdv-register{
  position: relative;
  margin-right: -500px;


}

.col-6{
  display: inline;
}




