.header {
  width: 100%;
  background-color: #e3f2fd;
  .header-brand {
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.logo {
  width: 35px;
}

.header-text {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.signupbtn {
  background-color: royalblue;
  color: white;
  padding: 2px;
  margin: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.searchbtn {
  background-color: royalblue;
  color: white;
  padding: 2px;
  margin: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.9;
}
