.cardStyle{
  //float: left;
  //margin-right: 15px;
  height: 50px;
  width: 128px;

  display: flex;

  flex-direction: row;
}



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: white;
  border: 2px solid silver;
  border-radius: 10px;
}

.wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 348px;
  height: 350px;
  margin: 10px;

  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.flex-col-container {
  padding: 20px 10px 20px 10px;
  width: 320px;
  height: 320px;

  text-align: left;
  line-height: 30px;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.company-logo {
  height: 100px;
}

.job-designation {
  padding-top: 25px;
  font: bold 16px Arial, sans-serif;
  color: black;
}

.company-name {
  font: 12px/30px Verdana;
  color: gray;
}
