@import "~bootstrap/scss/bootstrap";
a:hover {
  transform: translate(5%) scale(1.1);
}
.search-dropdown-item {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  .highlight {
    height: 100%;
    font-weight: bold;
    padding: 0;
  }
}
